
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  background: #000 url('https://coolbackgrounds.io/images/backgrounds/index/sea-edge-79ab30e2.png') no-repeat center center/cover;
  height: 100vh;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
}


.app {
  max-width: 1100px;
  margin: auto;
  padding: 0 20px;
}

.insult {
  display: flex;
  align-items: center;
  justify-content: center;
}