* {
  margin: 0;
  padding: 0;
}

.app {
  height: 100vh;
  width: 100vw;
}

.app__body {
  margin: 100px;
  align-items: center;
  box-shadow: -1px 4px 20px -6px rgba(0, 0, 0, 0.75);
}

.insult__container {
  background: url("./img/imgbg.jpg") no-repeat center/cover;
  display: grid;
  place-items: center;
}

.insult__container > button {
  margin-top: 30px;
  background-color: black;
  color: white;
  size: large;
  margin-bottom: 30px;
}

.insult__text {
  margin: 40px;
  text-align: center;
  font-family: "Big Shoulders Stencil Text", cursive;
  font-size: x-large;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  padding: 20px;
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  z-index: 2;
  width: 80%;
}

@media (max-width: 850px) {
  .app__body {
    margin: 50px;
  }
}
